<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/customer']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">CUSTOMER</a>
  <a [routerLink]="['/category']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">CATEGORY</a>
  <a [routerLink]="['/room']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ROOM</a>
  <a [routerLink]="['/staff']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">STAFF</a>
</nav>